@model IEnumerable<MVC.Models.MvcEmployeeModel>

@{
    ViewBag.Title = "Index";
}

<br />

<p>
    <a href="@Url.Action("ManagementEmployee","Employee")" class="btn btn-default">
        <ion-icon name="person-add-outline"></ion-icon> Novo
    </a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Cargo
            </th>
            <th>
                Idade
            </th>
            <th>
                Salário
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a href="@Url.Action("ManagementEmployee","Employee",new { id = item.Id })" class="btn btn-default">
                    <ion-icon name="pencil"></ion-icon>Editar
                </a>
                <a onclick="Delete(@item.Id)" class="btn btn-default">
                    <ion-icon name="trash"></ion-icon>Excluir
                </a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(function () {
            alertify.set('notifier', 'position', 'top-center');

            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage != '') {
                alertify.success(successMessage);
            }
        });

        function Delete(id) {
            alertify.confirm('Web Api CRUD Operações',
                'Tem certeza que deseja excluir esse registro?',
                function () {
                    window.location.href = '@Url.Action("Delete","Employee")/' + id;
                },
                null
            );
        }
    </script>
}